<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clever.common.repository.PhoneManageDao">

    <resultMap id="infoPhoneResult" type="InfoPhone">
        <result property="id" column="r_phone_id"/>
        <result property="orgId" column="ad_org_id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
    </resultMap>


    <select id="getEntities" resultMap="infoPhoneResult">
        SELECT p.phone as phone,t.name as name,p.r_phone_id as id,p.ad_org_id as orgId
          FROM r_info_phone p
        LEFT JOIN r_table t ON t.r_table_id = p.r_table_id
        WHERE p.ad_org_id = #{orgId} order by p.created desc
    </select>


</mapper>